<div class="footer">
        <footer class="footer">
            <div class="row">
                <div class="col-10 col-sm-6 col-md-4 col-lg-4 col-xl-3 offset-1 offset-sm-1 offset-md-1 offset-lg-1 offset-xl-1 column-padding">
                    <div class="intro">
                        <h4 class="footer-headers">Subscribe for our Newsletter</h4>
                        <p class="text-center footer-text">Important Updates Only! <br>We promise not to spam your mail box</p>
                    </div>
                    <form class="justify-content-center" method="post"><input class="form-control" type="email" name="email" placeholder="Your Email" required><button class="btn btn-primary btn-block button" type="submit">Subscribe </button></form>
                    <h4 class="footer-headers social-header">Follow us on Social Media</h4><a href="https://web.facebook.com/bomasacademy/" target="_blank" class="smbutton"><i class="fa fa-facebook"></i></a><a href="https://twitter.com/bomasacademy" target="_blank" class="smbutton"><i class="fa fa-twitter"></i></a>
                    <a
                        href="https://www.instagram.com/bomasacademy/" target="_blank" class="smbutton"><i class="fa fa-instagram"></i></a><a href="https://www.youtube.com/channel/UCzCvBd5tz2fYPScNrC_XUHQ" target="_blank" class="smbutton"><i class="fa fa-youtube-play"></i></a></div>
                <div class="col-10 col-sm-4 col-md-3 col-lg-3 col-xl-4 offset-1 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-0 column-padding">
                    <h4 class="footer-logo">Bomas Academy</h4><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p class="footer-text"><span class="new-line-span">16, Naraguta Avenue, G.R.A, </span> Jos, Plateau State, Nigeria.</p><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-text">+2348036058313 </p><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p class="footer-text">bomasacademy@gmail.com </p>
                    <div></div>
                </div>
                <div class="col-sm-5 col-md-2 col-lg-3 col-xl-2 offset-sm-4 offset-md-0 offset-lg-0 offset-xl-0 column-padding">
                    <footer>
                        <ul class="list-unstyled d-flex flex-column justify-content-center align-items-center">
                            <li><a href="/" class="footer-links">Home</a></li>
                            <li><a href="/about" class="footer-links">About</a></li>
                            <li><a href="/gallery" class="footer-links">Gallery</a></li>
                            <li><a href="/blog" class="footer-links">Blog</a></li>
                            <li><a href="/contact" class="footer-links">Contact&nbsp;</a></li>
                            <li><a href="/sitemap.xml" class="footer-links">Sitemap</a></li>
                        </ul>
                    </footer>
                </div>
            </div>
            <section class="copyright">
                <p>Bomas Academy © 2018</p>
                <p>Designed by <a href="#">winpee</a></p>
            </section>
        </footer>
    </div>
    