---
layout: default
---

				
	<section class = 'clean-block clean-post dark'>

			<div class = 'container'>
	       

		 <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-10 offset-md-1 offset-lg-1 offset-xl-1">
				<h1 class='posttitle'>{{ page.title }}</h1>
				


			<p class="postdate"> <span><i class="fa fa-calendar"></i></span>{{ page.date | date_to_long_string }} <span class="mix"><i class="fa fa-comment-o"></i><a href="{{ post.url }}#disqus_thread" class='commente'>Comments</a></span></p>
							
	
		 	{% include share.html %} 
			
			{{ content }}
		  	
		  	
			{% include share.html %}


		 	{% include related_posts.html %}
		 	
			<section class="text-center">
			<a href="{{site.baseurl}}/blog" class = 'readmore'> -- Blog </a>
			<a href="{{site.baseurl}}/" class = 'readmore'> -- Home Page </a>
			</section>


 </div>
</div>
				
</section>





 {% include footer.html %} 
